body{
  color: white;
}

p{
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}
h2{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: .8em;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-transform: uppercase;
}


.noise-background-fixed {
  z-index: -1001;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 13, 33, .88), rgba(0, 13, 33, .88)), url(https://assets-global.website-files.com/652a81c5d2f516632fee0f84/652a81c5d2f516632fee0fb0_noise.gif);
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}
.services-background-image-glow {
  z-index: -1;
  width: 100%;
  height: 38em;
  filter: saturate(200%) blur(20px);
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
  opacity: 1;
}
.services-background-image {
  width: 100%;
  height: 38em;
  object-fit: cover;
  background-image: url(https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg);
  background-position: 0 0;
  background-size: auto;
}
