.noise-background-fixed {
  z-index: -1001;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 13, 33, .88), rgba(0, 13, 33, .88)), url(https://assets-global.website-files.com/652a81c5d2f516632fee0f84/652a81c5d2f516632fee0fb0_noise.gif);
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}